.tile {
  position: relative;
  width: 100%;
  height: 100%;
  offset: none;
}
/* when sum odd #ebecd0*/
.white_tile {
  background-color: #ebecd0;
}

/* when sum even #81b64c*/
.black_tile {
  background-color: #639b2bee;
}
.piece {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  cursor: grab;
  z-index: 1;
  offset: none;
}
.piece:active {
  cursor: grabbing;
}
